header {
    position: relative;
    overflow: hidden;
    height: 100px;
}

ul.language {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 10000;
}

ul.language li {
    display: inline-block;
}

ul.language li a {
    color: #00305B;
    font-size: 1.2em;
}

ul.language li a:hover {
    text-decoration: none;
}

header nav.navbar {
  background-color: white;
  min-height: 100px;
  max-height: 105px;
}

header .navbar-brand img {
  max-height: 70px;
}

header button.navbar-toggle {
  margin-top: 45px;
}

header .navbar-collapse {
  border: 0;
    background-color: white;
}

header .navbar-nav {
  margin-top: 30px;
  margin-right: 50px;
}

header .navbar-nav a {
    color: black !important;
    font-family: 'Cairo' , sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

header .navbar-nav li.login_link a {
    font-weight: bold;
    color: #be0303 !important;
}

header .navbar-nav a:hover {
    text-shadow: -3px 2px 10px gray;
    
}

header nav h4 {
    margin: 0;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    padding-left: 30%;
    width : 100%;
/*    -webkit-transform: translate(-50% , -50%);*/
/*    transform: translate(-50% , -50%);*/
    font-size: 1.7em;
    color: #00305B;
    text-align: center;
    font-family: 'Cairo' , sans-serif;
    font-weight: bold;
}

main {
/*    margin-top: 100px;*/
}

footer {
    text-align: center;
    padding-top: 30px;
}

footer .row:first-of-type {
    position: relative;
}

footer h4~a {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 1;
    font-size: .9em;
    font-weight: bold;
    color: #00305B;
}

footer h4~a:hover {
    text-decoration: none;
    color: #00305B;
}

footer span.fa.fa-caret-square-o-up {
    font-size: 2em;
    color: #00305B;
}

footer h4 {
    font-family: 'Cairo', sans-serif;

    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #00305B;
}

footer .social_logo {
    margin: 0 auto;
    width: 55px;
    height: 55px;
    padding-top: 5px;
    background-color: rgba(0, 48, 91 , .3);
    border-radius: 10px;
    box-shadow: 0 0 10px #222;
    position: relative;
    top: 0;
    left: 0;
    
    -webkit-transition: all .5s;
    
    transition: all .5s;
}


footer .row:first-of-type [class*="col-"] a {
    color: rgb(0, 48, 91);
    font-weight: bold;
    line-height: 40px;
}

footer .row:first-of-type [class*="col-"] a:hover {
    text-decoration: none;
}

footer .row:first-of-type [class*="col-"] a:hover .social_logo {
    top: -10px;
    left: -10px;
    box-shadow: 5px 5px 10px #222;
}

footer .social_logo span.fa {
    display: inline-block;
    font-size: 1.5em;
    width: 45px;
    height: 45px;
    line-height: 50px;
    border-radius: 5px;
    background-color: rgba(0, 48, 91 , .9);
    color: white;
}

footer .row:first-of-type [class*="col-"] a:hover span.fa {
    box-shadow: inset 0 0 10px #222;
}

footer [class*="col-"] {
    margin-top: 20px;
}

footer .copyright_info {
    background-color: #333;
    color: white;
    height: 35px;
    line-height: 35px;
    margin-top: 30px;
}


@media (max-width: 1015px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        padding: 0;
    }
    .navbar-collapse.collapse {
        display: none!important;
        overflow: visible;
        min-height: 360px !important;
        width: 100% !important;
    }
    
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}



@media(max-width: 792px) and (min-width: 765px) {
  header .navbar-nav {
    font-size: .9em;
  }
}

@media(max-width: 767px) {
    
    header .navbar-collapse ul li {
        border-bottom: 1px solid gray;
    }
    
    footer h4 {
        font-size: 1.4em;
    }
    
    footer h4~a {
        top: auto;
        bottom: 10px;
        right: 15px;
    }
    
    footer h4~a {
        font-size: 1.3em;
    }
    
    footer .social_logo {
        width: 50px;
        height: 50px;
        padding-top: 5px;
    }
    
    footer .social_logo span.fa {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}


@media(max-width: 520px) {
    footer h4~a {
        right: 0;
    }
}