
main {
    
}

p.error {
    color: #d90101;
}


#intro_section {
    min-height: 700px;
    background-image: url('../images/buildings_blue.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#intro_section h1 {
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

#intro_section h1 a {
    color: white;
}

#intro_section h1 span {
    margin: 0 25px;
    font-size: 2em;
    margin: 5px;
}

#intro_section h2 {
    text-align: center;
    color: white;
    font-weight: bold;
}

#intro_section h4{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
}

#intro_section h4:first-of-type {
    margin-bottom: 50px;
}

#intro_section h4:nth-of-type(2) {
    font-size: 2em;
}

#intro_section h4.no_underline {
    text-decoration: none;
}

#intro_section h3 {
    text-align: center;
    color: white;
    margin-top: 70px;
    font-weight: bold;
    font-size: 2.5em;
}

#categories_list {
    margin: 0 auto;
    max-width: 350px;
    list-style: none;
    padding: 0;
    position: relative;
}

#categories_list > li > a {
    display: block;
    padding-left: 1em;
    height: 2.5em;
    line-height: 2.5em;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #d0cdcd;
    text-decoration: none;
    color: black;
}

span.glyphicon {
    position: absolute;
    right: 1em;
    top: 1.2em;
    font-size: .8em;
    color: #4d4b4b;
}

#categories_list li ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

#categories_list li ul li {
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    cursor: pointer;
}

#categories_list li ul li:hover {
    background-color: #d6d6d6;
}

#categories_field{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;    
}


#about_us {
    padding-bottom: 30px;
}

#about_us .row:first-of-type {
    margin-top: 30px;
}

#about_us h2 {
    text-align: center;
    font-family: 'Cairo' , sans-serif;
    font-weight: bold;
    margin-top: 0;
    height: 50px;
    line-height: 50px;
    background-image: -webkit-linear-gradient(top , #01203c 0% , #01203c 5% , #024888);
    background-image: linear-gradient(top , #01203c 0% , #01203c 5% , #024888);
    color: white;
    border-radius: 0 0 10px 10px;
}


#about_us .row [class*="col-"]:first-of-type {
    padding: 0 60px;
    text-align: justify;
    padding-top: 10px;
}

#about_us .row:nth-of-type(2) {
    margin-bottom: 10px;
}

#about_us .row:nth-of-type(3) [class*="col-"]:first-of-type {
    margin-top : -15px;
}

#about_us b , #about_us strong {
    color: #b90101;
}

#about_us img {
    max-width: 230px;
}


#find_place {
    padding: 50px 0;
    background-color: #f5f5f5;
    font-family: 'Cairo' , sans-serif;
}

#find_place h2 {
    text-align: center;
}

#find_place form {
    max-width: 400px;
    padding: 0 20px;
    margin: 0 auto;
}

#find_place form .form-group {
    position: relative;
}

#find_place form .form-group button {
    position : absolute;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    border-bottom : 0;
}

#find_place form .form-group button:active , 
#find_place form .form-group button:focus {
    outline: 0 !important;
}

#find_place p.text-danger {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}


#create_ad_modal .modal-header {
    background-color: #00305B;
    color: white;
    max-height: 60px;
    line-height: 60px;
}

#create_ad_modal .modal-header h4.modal-title {
    margin: 0;
    font-size: 1.6em;
}

#create_ad_modal .modal-header button.close {
    color: white;
}

#create_ad_modal .modal-body {
    padding: 0;
    font-family: 'Cairo' , sans-serif;
    min-height: 500px;
}

#create_ad_modal .modal-body .rules_container p.error {
    display: none;
}

#create_ad_modal .modal-body h5 {
    font-size: 2em;
    text-align: center;
    margin: 10px 0;
}

#create_ad_modal .modal-body ol {
    margin: 0;
    padding: 0;
    padding: 20px 0;
    list-style-type: none;
    background-color: #e5e4e4;
}

#create_ad_modal .modal-body ol li {
    counter-increment: steps;
    min-height: 1.5em;
    line-height: 1.5em;
    font-size: 1.2em;
    padding: 0 25px;
    text-align: justify;
}

#create_ad_modal .modal-body ol li:before {
    content : counter(steps) " -";
    font-weight: bold;
    margin-right : 10px;
}

#create_ad_modal .modal-body ol li:nth-of-type(even) {
    background-color: #e5e4e4;
}

#create_ad_modal .modal-body ol li:nth-of-type(odd) {
    background-color: white;
}

#create_ad_modal .modal-body .rules_container form {
    padding-left: 40px;
}

#create_ad_modal .modal-body .rules_container form label {
    cursor: pointer;
}

#create_ad_modal .modal-body form .form-group:last-of-type {
    text-align: center;
}

#create_ad_modal .modal-body form button {
    background-color: #00305B;
    color: white;
    border: none;
}

#create_ad_modal .modal-body .ad_post_container {
    display: none;
}

#create_ad_modal .modal-body .ad_post_container form {
    padding: 30px 40px;
}

#create_ad_modal .modal-body .ad_post_container .tag_group .input_container {
    position: relative;
}

#create_ad_modal .modal-body .ad_post_container .tag_group .input_container button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    height: 100%;
    border-radius: 0 5px 5px 0;
}

#create_ad_modal .modal-body .ad_post_container .tag_group label {
    display: block;
}

#create_ad_modal .modal-body .ad_post_container .tag_group input {
    width: 600px;
}


#how_to_use {
    font-family: 'Cairo', sans-serif;

    background-color: #efeded;
}

#use_service , 
#service_rules {
    min-height: 200px;
}


#use_service {
/*    background-color: rgba(0, 48, 91 , .6);*/
    background-image: -webkit-linear-gradient(left , #001426 0%, #001426 7% ,  #00305B 55% , #00305B 80% , #001426);
    background-image: linear-gradient(left , #001426 0%, #001426 7% ,  #00305B 55% , #00305B 80% , #001426);
}

#use_service h2 {
    margin: 0;
    line-height: 200px;
    text-align: center;
    color: white;
    font-size: 1.7em;
}

#service_rules {
    padding: 0;
}

#service_rules  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 66px;
    text-align: center;
}

#service_rules ul li:hover {
    background-color: rgba(0 , 48 , 91 , .07);
}


#service_rules li a{
    display: block;
    font-size: 1.5em;
    color: #00305B;
    text-decoration: none;
}

#service_rules li a:active ,
#service_rules li a:focus {
    outline: 0;
}

#service_rules li a:hover {
    box-shadow: 0 0 10px #222;
}


#how_to_use .modal .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    
    -webkit-transform: translate(-50% , -50%);
    
    transform: translate(-50% , -50%);
    
}

#how_to_use .modal .modal-header {
    max-height: 60px;
    line-height: 60px;
    background-color: #00305B;
    color: white;
}

#how_to_use .modal .modal-title {
    font-weight: bold;
    font-size: 1.5em;
}



#how_to_use .modal .modal-body {
    padding: 0;
}

#how_to_use .modal .modal-body ul {
    margin: 0;
    padding: 0;
    padding: 20px 0;
    list-style-type: none;
    background-color: #e5e4e4;
}

#how_to_use .modal .modal-body ul li {
    counter-increment: steps;
    min-height: 2em;
    line-height: 2em;
    padding: 0 20px;
    font-size: 1.2em;
}

#how_to_use .modal .modal-body ul li:nth-of-type(even) {
    background-color: #e5e4e4;
}

#how_to_use .modal .modal-body ul li:nth-of-type(odd) {
    background-color: white;
}


#how_to_use .modal .modal-body ul li:before {
    content : "Step " counter(steps)  " - ";
    font-weight: bold;
    margin-right: 10px;
}

#how_to_use .modal button.close {
    position: relative;
    top: -25px;
    color: white;
}


#rules_of_service {
    font-family: 'Cairo', sans-serif;

    min-height: 400px;
    background-color: #777;
    color: white;
    padding-bottom: 30px;
}

#rules_of_service header {
    max-height: 60px;
    height: 60px;
    background-image: -webkit-linear-gradient(left , #001426 0%, #001426 7% ,  #00305B 55% , #00305B 80% , #001426);
    background-image: linear-gradient(left , #001426 0%, #001426 7% ,  #00305B 55% , #00305B 80% , #001426);
}

#rules_of_service header h2 {
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 1.6em !important;
}


#rules_of_service .carousel {
    margin-top: 3%;
    text-align: center;
    min-height: 250px;
    position: relative;
}

#rules_of_service .carousel h4 {
    font-size: 2.5em;
}

#rules_of_service .carousel p {
    font-size: 1.2em;
}

#rules_of_service .carousel button {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    padding: 5px 20px;
    font-weight: bold;
}

#contact_us {
    min-height: 500px;
    background-image: url(../images/contact_us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#contact_us .blur {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 0;
}

#contact_us form {
    width: 420px;
    padding: 40px;
    background-color: #dddbdb;
    z-index: 2;
    position: absolute;
    color: #444;
    border-radius: 6px;
    top: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Cairo' , sans-serif;
}

#contact_us h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: 'Cairo' , sans-serif;
    color: white;
    font-size: 3em;
}

#contact_us form label {
    font-weight: bold;
    font-size: 1.1em;
}

#contact_us form .form-group:last-of-type {
    text-align: center;
}

#contact_us form .form-group button[type="submit"] {
    background-color: #00305B;
    color: white;
    border: none;
    padding: 5px 35px;
}

#contact_us form textarea {
    min-height :100px;
}

#account_section {
    min-height: 500px;
    background-color: #f2f2f2;
    padding: 40px 0;
}


#account_section h2 , 
#account_section h3{
    text-align: center;
}

#account_section h2 span {
    margin-left: 20px;
    margin-right: 20px;
}

#account_section h3 {
    color: #444;
    margin-top: 40px;
    margin-bottom: 40px;
}

#account_section form .form-group {
    padding: 0 40px;
}

#account_section form .form-group input {
    min-height: 45px !important;
}

.group a ,
.group label {
    margin-left: 25px;
    font-family: 'Cairo' , sans-serif;
    margin-top: 5px;
}

#account_section form .form-group:last-of-type {
    text-align: center;
}

#account_section form .form-group button {
    background-color: #00305B;
    color: white;
    border: 0;
    padding: 8px 25px;
    font-size: 1.2em;
    border-radius: 6px;
    margin: 20px 0;
    
    -webkit-transition: background-color .5s;
    
    transition: background-color .5s;
    
}

#forget_password_modal .modal-content {
    margin-top: 10em;
}

#forget_password_modal .modal-header {
    background-color: #00305B;
    color: white;
    max-height: 50px;
    padding: 0;
}

#forget_password_modal .modal-header h4 {
    margin : 0;
    line-height: 50px;
    margin-left: 15px;
}

#forget_password_modal .modal-header button.close {
    position :relative;
    top: -30px;
    right: 10px;
    color: white;
}

#forget_password_modal .modal-body .form-group {
    padding: 0 20px;
}

#forget_password_modal .modal-body .form-group:last-of-type {
    text-align: right;
}

#forget_password_modal .modal-body .form-group:last-of-type button {
    background-color: #00305B;
    color: white;
    border: 0;
}

#account_section form .form-group button:hover {
    background-color: #035cac;
}

#account_section form .form-group button:active {
    box-shadow: inset 0 0 15px #222;
}


@media(max-width: 992px) and (min-width: 769px) {
    #account_section form .form-group {
    padding: 0 0;
    }
    
    .group a ,
    .group label {
        margin-left: -15px;
    }
}


@media(max-width: 767px) {
    #intro_section h1 {
        font-size: 2.3em;
    }
    
    #intro_section h2 {
        font-size: 1.8em;
    }
    
    #intro_section h4 {
        font-size: 1.3em;
    }
    
    #intro_section h4:nth-of-type(2) {
    font-size: 1.6em;
}
    
    #intro_section h3 {
        font-size: 2.2em;
    }
    
    #categories_list {
        max-width: 300px;
    }
    
    #about_us {
        padding: 0 0 50px 0;
    }
    
    #about_us .row  [class*="col"]{
        margin-top: 20px;
    }
    
    #about_us .row img  {
        margin: 0 auto;
    }
    
    #about_us .row:last-of-type p {
        text-align: center;
    }
 
    #how_to_use #use_service {
        min-height: 60px;
        max-height: 60px;
        background-color: rgba(0, 48, 91 , .9);
    }
    
    #how_to_use #use_service h2 {
        line-height: 60px;
    }
    
    #rules_of_service header h2 {
        font-size: 2em;
    }
    
    #rules_of_service .carousel h4 {
    font-size: 2em;
    }
    
    #contact_us form {
        left: 50px;
    }
    
}


@media(max-width: 520px) {
    #intro_section h1 {
        font-size: 1.6em;
    }
    
    #intro_section h1 span {
        visibility: hidden;
    }
    
    #intro_section h2 {
        font-size: 1.4em;
    }
    
    #intro_section h4{
        font-size: 1.2em;
    }
    
    #rules_of_service header h2 {
        font-size: 1.7em;
    }
    
    
    #contact_us form {
        left: 0;
        position: relative;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        
        margin-top: 50px;
        width: 100%;
    }
    
}